
#cashflow-overview-panel{
    /*background-color: lightskyblue;*/
    width: 100%;
    height: 100%;
}
h3{
    text-align: center;
}

#cashflow-overview-panel-table-header{
    border-bottom: 1px solid gray;
}

.borderless td, .borderless th {
    border: none;
}

.positiverBetrag{
    background: #c1e2b3;
}

.negativerBetrag{
    background: #ebcccc;
}



.cash{
    height: 122.5px;
    width: 50%;
    display: flex; 
    display: inline-block;

    
}
.saldoDiv{
    border-bottom-right-radius: 5px; 
    border-bottom-left-radius: 5px;
    height: 122.5px;
    width: 100%;
    font-size: 2.2em;
    line-height: 122.5px;
}




#einnahmen{
    float: left;
    border-top-left-radius: 5px;
    background: #dff0d8;
   

}


#ausgaben{
    border-top-right-radius: 5px;
    background: #f2dede;
    

}



p{
    font-size: 2em;
}