#cashflow-overview-panel{
    /*background-color: lightskyblue;*/
    width: 100%;
    height: 100%;
}

#cashflow-overview-panel-table-header{
    border-bottom: 1px solid gray;
}

.borderless td, .borderless th {
    border: none;
}

.positiverBetrag{
    color: green;
}

.negativerBetrag{
    color: red;
}

h3{
    font-size: 2em;
}