#cashflow-overview-panel{
    /*background-color: lightskyblue;*/
    width: 100%;
    height: 100%;
}
h3{
    align: center;
}

/*#cashflow-overview-panel-table-header{
    border-bottom: 1px solid gray;
}

.borderless td, .borderless th {
    border: none;
}

.positiverBetrag{
    color: green;
}

.negativerBetrag{
    color: red;
}*/



.cash{
    height: 111px;
    width: 50%;
    display: flex; 
    
    display: inline-block;
    
    
    
    
    
}
.saldodiv{
    border-bottom-right-radius: 5px; 
    border-bottom-left-radius: 5px;
    background: #dff0d8;
    
    height: 111px;
    width: 100%;
    font-size: 2.2em;
    
}


#einnahmen{
    float: left;
    border-top-left-radius: 5px;
    background: #dff0d8;
   

}


#ratsche{
    border-top-right-radius: 5px;
    background: #f2dede;
    

}



p{
    font-size: 2em;
}