    #top-container{
       padding: 1em;
       height: 250px;
       position: relative;
    }
    body, html{
        background: darkgray;
    }
    
    body, html, .container-fluid{
        height: 100%;
    }
    
    .contentdiv{
        overflow: hidden;
        background: rgba(255, 255, 255, 0.9);
        height: 100%;
        margin-top: 1 em; 
    }

    .contentFrame{
        overflow: hidden;
        height: 100%;
        margin-top: 1 em; 
    }

    #top-content{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #bottom-content{
        height: 100%;
    }

    #bottom-left-container{
        height: 100%;
        overflow: auto;
    }

    #bottom-right-container{
        height: 100%;
        overflow: auto;
        padding-left: 2em;
        padding-right: 2em;
    }
 
    #bottom-content-container{
        height: 70%;
        margin-bottom: 1em;
        padding: 1em;  
    }

    #kategorien{
        min-height: 200px;
    }


