    #content-container {
        position: absolute;
        height: 100%;
        width: 100%;
        text-align: center;
    }
    
    #left-container {
        position: absolute;
        left: 0;
        width: 60%;
        height: 100%;
        background-color: lightblue;
    }
    
    #right-container {
        position: absolute;
        right: 0;
        width: 40%;
        height: 100%;
        background-color: lightcyan;
    }
    
    #right-middle-container {
        width: 100%;
        height: 50%;
        background-color: lightgray;
    }
    
    #right-bottom-container {
        width: 100%;
        height: 50%;
        background-color: lightgreen;
    }
    
    #transaction-table-container {
        background-color: white;
        position: relative;
        left: 10%;
        top: 10%;
        width: 80%;
        height: 68%;
    }
    
    #new-transaction-container {
        background-color: white;
        position: absolute;
        bottom: 10%;
        left: 10%;
        width: 80%;
        height: 10%;
    }
    
    #top-content-container {
        background-color: lightpink;
        position: absolute;
        height: 30%;
        width: 100%;
        top: 0;
    }
    
    #bottom-content-container {
        background-color: grey;
        position: absolute;
        height: 70%;
        width: 100%;
        bottom: 0;
    }
    
    #cashflow-container {
        position: absolute;
        left: 0;
        width: 40%;
        height: 100%;
        background-color: gray;
    }
    
    #chart-container {
        position: absolute;
        right: 0;
        width: 40%;
        height: 100%;
        background-color: lightcoral;
    }
    
    #kategorien-container {
        position: relative;
        top: 10%;
        left: 10%;
        max-height: 70%;
        max-width: 80%;
        background-color: pink;
    }