/*    #content-container {
        position: absolute;
        height: 100%;
        width: 100%;
        text-align: center;
    }
    
    #left-container {
        position: absolute;
        left: 0;
        width: 60%;
        height: 100%;
        background-color: lightblue;
    }
    
    #right-container {
        position: absolute;
        right: 0;
        width: 40%;
        height: 100%;
        background-color: lightcyan;
    }
    
    #right-middle-container {
        width: 100%;
        height: 50%;
        background-color: lightgray;
    }
    
    #right-bottom-container {
        width: 100%;
        height: 50%;
        background-color: lightgreen;
    }
    
    #transaction-table-container {
        background-color: white;
        position: relative;
        left: 10%;
        top: 10%;
        width: 80%;
        height: 68%;
    }
    
    #new-transaction-container {
        background-color: white;
        position: absolute;
        bottom: 10%;
        left: 10%;
        width: 80%;
        height: 10%;
    }
    
    #top-content-container {
        background-color: lightpink;
        position: absolute;
        height: 30%;
        width: 100%;
        top: 0;
    }
    
    #bottom-content-container {
        background-color: grey;
        position: absolute;
        height: 70%;
        width: 100%;
        bottom: 0;
    }
    
    #cashflow-container {
        position: absolute;
        left: 0;
        width: 40%;
        height: 100%;
        background-color: gray;
    }
    
    #chart-container {
        position: absolute;
        right: 0;
        width: 40%;
        height: 100%;
        background-color: lightcoral;
    }
    
    #kategorien-container {
        position: relative;
        top: 10%;
        left: 10%;
        max-height: 70%;
        max-width: 80%;
        background-color: pink;
    }*/

    #top-container{
       padding: 1em;
        height: 33%;
        
    }
    body, html{
        background: lightblue;
        /*background-image: url(http://usbookkeepersdirectory.com/wp-content/uploads/Accounting-Image-3504x2236-or-11.7-x-7.8-in.jpg);*/
        background-size: cover;
    }
    body, html, .container-fluid{
        height: 100%;
    }
    
    .contentdiv{
        overflow: hidden;
       
        background: rgba(255, 255, 255, 0.7);
        height: 100%;
        margin-top: 1 em; 
    }
    #right-top-container{
        height: 30%;
        
        
    }
/*    #placeholder2{
        height: 100%;
        background: white;
       
    }*/


 
    #bottom-content-container{
        height: 70%;
        margin-bottom: 1em;
        padding: 1em;
        
        
    }

    #bottom-left-container{
        height: 100%;
        
       
        overflow: auto;
    }


    #top-content{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #bottom-right-container{
        height: 100%;
    }

    #bottom-content{
        height: 100%;
    }