
 @media (max-width: 800px) {
     #top-container{
         padding: 1em;
         position: relative;
         height: auto;
         background-color: yellow;
     }
 }

#top-container{
     padding: 1em;
    height: 300px;
    position: relative;
}

body, html{
    background: lightgray;
    height: 100%;
    

}

.container-fluid{
    height: 100%;
}

.glyphicon{
    color: 	 black;
    font-size: 0.5em !important; 
}

.btn{
    background: 	 #888888;
    color: white;
    border-color: #555555;
}

.contentdiv{
    overflow: hidden;
    background: rgba(255, 255, 255, 0.9);
    height: 100%;
    border-radius: 5px;
    
   
}
.topheight{
    height: 90%;
}

.contentFrame{
    overflow: hidden;
    height: 100%;
    
}

#top-content{
    height: 100%;
    align-items: center;
    justify-content: center;
    
   
}

#bottom-content{
    height: 100%;
}

#bottom-left-container{
    height: 90%;
    
}

#bottom-right-container{
    height: 100%;
   
    padding-left: 2em;
    padding-right: 2em;
}

#bottom-content-container{
    height: 70%;
    
    padding: 1em; 
    
}



#transaktabelle{
    border-radius: 5px; 
    padding: 0px;
    height: 95%;
}

.question-sign{
    text-align: right;
}

#noPadding{
    padding: 0px;
}
 
body.loading #loadingModal {
    display: block;
}
    
#loadingModal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8) url('./resources/gifs/wheel.gif') 50% 50% no-repeat;
}


#kategorien{
    padding: 1em; 
    padding-bottom: 0em;
    height: 35%;
    
}