<div class="container-fluid">
    <div class="row row-eq-height" id="top-container">
        <div class="col-md-4 col-ld-4" id="top-content">
            <div id="border">
                <cashflow-overview-panel></cashflow-overview-panel>
            </div>
        </div>
        <div class="col-md-3 col-ld-3" id="top-content">
            <div>
                <pie-chart></pie-chart>
            </div>
        </div>
        <div class="col-md-5 col-ld-5">
            <div>
                <line-chart></line-chart>
            </div>
        </div>
    </div>
    <div class="row row-eq-height" id="bottom-content-container">
        <div class="col-md-7 col-ld-7" id="bottom-left-container">
            <div>
                <transaktionen-tabelle></transaktionen-tabelle>
            </div>
        </div>
        <div class="col-md-5 col-ld-5" id="bottom-right-container">
            <div class="row" id="right-top-container">
                <div class="col-md-12 col-ld-12" id="top-content">
                    <div>
                        diese
                    </div>
                </div>
            </div>
            <div class="row" id="right-bottom-container">
                <div class="col-md-12 col-ld-12" id="placeholder2">
                    <div>
                        Beste
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>