<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding: 0em;">

            <div class="alert alert-warning modal-title">
                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">            
                
                     <span style="margin: 0.4em !important;" aria-hidden="true">&times;</span>      
                 </button>
                 <strong>Achtung!</strong> 
                 <br>
                 Du kannst diese Kategorie nicht löschen. 
                 <br>
                 Mit dieser Kategorie sind noch Transaktionen verknüpft.
                 <br>
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
            </div>
               


            </div>
          <!--  <div class="modal-body">
                Mit dieser Kategorie sind noch Transaktionen verknüpft.
            </div>-->
<!--            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
            </div>-->
        </div>
    </div>
</div>