#kategorie-container{
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    width: 100%;
}

.kategorie{
    padding: 0.5em;
    background-color: lightskyblue;
    margin-top: 1em;
    margin-right: 1em;
    border-radius: 3px;
}