#kategorie-container{
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    width: 100%;
    padding-bottom: 1em;
    max-height: 100%;
}

.kategorie{
    padding: 0.5em;
    background-color: lightgrey;
    margin-top: 1em;
    margin-right: 1em;
    border-radius: 3px;
    overflow: auto;
}