<form [formGroup]="form" class="form-inline">
    <div class="form-group row" [class.has-success]="form.valid">
        <div class="col-10">
            <label for="kategorieName" class="col-2 col-form-label">Neue Kategorie:</label>
            <input type="text" formControlName="name" class="form-control " placeholder="Name" maxlength="15">
            <button type="submit" [disabled]="!form.valid" (click)="addKategorie()" class="btn btn-primary" onclick="$('.modal').modal('hide')">Speichern</button>
        </div>
    </div>
    <div class="row" style="padding-top: 0.5em">
        <small *ngIf="form.controls['name'].hasError('required') || form.controls['name'].hasError('minlength')">
            Name muss zwischen 3 - 15 Zeichen beinhalten.
        </small>
    </div>
</form>