<style>
/* Color of invalid field */
.has-error,
.has-error .control-label,
.has-error .help-block,
.has-error .form-control-feedback {
    color: #a94442;
}

/* Color of valid field */
.has-success,
.has-success .control-label,
.has-success .help-block,
.has-success .form-control-feedback {
    color: #3c763d;
}
.form-group {
    position: relative;
}
</style>

<div class="modal fade" id="neueTransaktionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                <h4 class="modal-title" *ngIf="!isUpdateTransaktion && !isUpdateZukuenftigeTransaktion"><b>Neue Transaktion</b></h4>
                <h4 class="modal-title" *ngIf="isUpdateTransaktion || isUpdateZukuenftigeTransaktion"><b>Transaktion bearbeiten</b></h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form [formGroup]="form">
                        <div class="form-group row">                          
                            <div *ngFor="let transaktionsTyp of transaktionsTypen" class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input 
                                        type="radio"  
                                        formControlName="transaktionsTyp"
                                        [checked]="transaktionsTyp == selectedTransaktionsTyp"
                                        value="transaktionsTyp"
                                        (change)="onTransaktionsTypSelectionChange(transaktionsTyp)"
                                        >
                                     {{transaktionsTyp}}
                                </label>
                            </div>
                        </div>
                        
                        <div class="form-group has-feedback row col-10"
                            [class.has-error]="!form.controls['betrag'].pristine && !form.controls['betrag'].valid"
                            [class.has-success]="!form.controls['betrag'].pristine && form.controls['betrag'].valid"
                        >
                            <label class="col-2 col-form-label">Betrag*</label>
                                <input 
                                    maxlength="15" 
                                    type="text" 
                                    class="form-control" 
                                    formControlName="betrag" 
                                    placeholder="0,00"
                                    (focusout)="onFocusOut()"
                                    (keypress)="onChangeBetrag()">
                                <span *ngIf="!form.controls['betrag'].pristine && form.controls['betrag'].valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
                                <span *ngIf="!form.controls['betrag'].pristine && !form.controls['betrag'].valid" class="glyphicon glyphicon-remove form-control-feedback"></span>
                                <div class='form-text has-error' *ngIf="form.controls['betrag'].touched && !form.controls['betrag'].valid">
                                    <div *ngIf="form.controls['betrag'].hasError('required')">Betrag darf nicht lehr sein.</div>
                                    <div *ngIf="form.controls['betrag'].hasError('pattern')">Der angegebene Betrag ist nicht gültig.</div>
                                </div>
                        </div>
                        <fieldset>
                            <div class="form-group row">
                                <label class="mr-sm-2" for="inlineFormCustomSelect">Kategorie*</label>
                                <select 
                                    (change)="onKategorieChanged($event.target.value)"
                                    class="custom-select mb-2 mr-sm-2 mb-sm-0" 
                                    id="inlineFormCustomSelect"
                                    formControlName="kategorie" 
                                    class="form-control"
                                >
                                    <option *ngFor="let kategorie of kategorien" [ngValue]="kategorie.Name">{{kategorie.Name}}</option>
                                </select>
                            </div>
                        </fieldset>
                        <div class="form-group has-feedback row col-10"
                            [class.has-error]="!form.controls['beschreibung'].pristine && !form.controls['beschreibung'].valid"
                            [class.has-success]="!form.controls['beschreibung'].pristine && form.controls['beschreibung'].valid"
                        >
                            <label for="inputBeschreibung" class="col-2 col-form-label">Beschreibung*</label>
                                <input 
                                    maxlength="50" 
                                    type="text" 
                                    class="form-control" 
                                    formControlName="beschreibung" 
                                    placeholder="Beschreibung">
                                <span *ngIf="!form.controls['beschreibung'].pristine && form.controls['beschreibung'].valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
                                <span *ngIf="!form.controls['beschreibung'].pristine && !form.controls['beschreibung'].valid" class="glyphicon glyphicon-remove form-control-feedback"></span>
                                <div class='form-text has-error' *ngIf="form.controls['beschreibung'].touched && !form.controls['beschreibung'].valid">
                                    <div *ngIf="form.controls['beschreibung'].hasError('required')">Beschreibung darf nicht lehr sein.</div>
                                    <div *ngIf="form.controls['beschreibung'].hasError('pattern')">Beschreibung darf nur alphanumerische Zeichen beinhalten.</div>
                                </div>
                        </div>
                        <fieldset class="form-group row">
                            <div *ngIf="!isUpdateTransaktion" class="col-sm-10">
                                <div class="form-check" *ngFor="let t of transaktionsHaeufigkeiten">
                                    <label class="form-check-label">
                                        <input type="radio"  
                                        formControlName="transaktionsHaeufigkeit"
                                        [value]="t"
                                        (click)="onTransaktionsHaeufigkeitChange(t)"
                                        >
                                        {{t}}
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                        <div *ngIf="!isUpdateTransaktion" class="row">
                            <label *ngIf="!isWiederkehrendeZahlung" class="col-2 col-form-label">Datum*</label>
                            <label *ngIf="isWiederkehrendeZahlung" class="col-2 col-form-label">Start/Next Datum*</label> 
                            <div style="width: 50%">                           
                                    <my-date-picker 
                                    [options]="myStartDatePickerOptions" 
                                    (dateChanged)="onStartDateChanged($event)" 
                                    formControlName="startDatum"
                                    ></my-date-picker>
                            </div>
                        </div>
                        <div class="row" *ngIf="isWiederkehrendeZahlung">
                            <div class="form-check">
                                <label class="col-2 col-form-label">
                                    <input formControlName="hasEndDatum" class="form-check-input" type="checkbox" [checked]="hasEndDatum" (change)="onHasEndDatumChanged($event)">
                                    End Datum
                                </label>
                            </div> 
                            <div style="width: 50%" *ngIf="hasEndDatum">
                                <my-date-picker
                                [options]="myEndDatePickerOptions" 
                                (dateChanged)="onEndDateChanged($event)"
                                formControlName="endDatum" 
                            ></my-date-picker>
                            </div>                         
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Schliessen</button>
                <button type="button"  data-dismiss="modal" class="btn btn-primary" [disabled]="!form.valid" (click)="onSubmit()" >Speichern</button>
            </div>
        </div>
    </div>
</div>