<div class="modal fade" id="neueTransaktionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form [formGroup]="form">
                        <div class="form-group row">                          
                            <div *ngFor="let t of transaktionsTypen" class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input 
                                        type="radio"  
                                        formControlName="transaktionsTyp"
                                        [value]="t">
                                     {{t}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Betrag</label>
                            <div class="col-10">
                                <input 
                                    maxlength="10" 
                                    type="text" 
                                    class="form-control" 
                                    formControlName="betrag" 
                                    placeholder="0,00"
                                    (focusout)="onFocusOut()"
                                    >
                            </div>
                        </div>
                        <fieldset>
                            <div class="form-group row">
                                <label class="mr-sm-2" for="inlineFormCustomSelect">Kategorie</label>
                                <select 
                                    class="custom-select mb-2 mr-sm-2 mb-sm-0" 
                                    id="inlineFormCustomSelect"
                                    formControlName="kategorie" 
                                    class="form-control"
                                >
                                    <option *ngFor="let kategorie of kategorien">{{kategorie.name}}</option>
                                </select>
                            </div>
                        </fieldset>
                        <div class="form-group row">
                            <label for="inputBeschreibung" class="col-2 col-form-label">Beschreibung</label>
                            <div class="col-10">
                                <input 
                                    maxlength="50" 
                                    type="text" 
                                    class="form-control" 
                                    formControlName="beschreibung" 
                                    placeholder="Beschreibung">
                            </div>
                        </div>
                        <fieldset class="form-group row">
                            <div class="col-sm-10">
                                <div class="form-check" *ngFor="let t of transaktionsHaeufigkeiten">
                                    <label class="form-check-label">
                                        <input type="radio"  
                                        formControlName="transaktionsHaeufigkeit"
                                        [value]="t">
                                        {{t}}
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                        <label class="col-2 col-form-label">Datum</label>
                        <div class="col-2">
                            <my-date-picker class="col-2"
                                [options]="myDatePickerOptions" 
                                (dateChanged)="onDateChanged($event)"
                                class="form-control" 
                                formControlName="datum" 
                            ></my-date-picker>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="clearForm()" data-dismiss="modal">Schliessen</button>
                <button type="submit" [disabled]="!form.valid" (click)="clearForm()" class="btn btn-primary">Speichern</button>
            </div>
        </div>
    </div>
</div>