

table {
        width: 100%;
    }

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 20%;

    /*text-align: left;*/
}

tbody {
    height: 650px;
    overflow-y: auto;
}

thead {
    /* fallback */
}


tbody td, thead th {
    float: left;
}

td.amountCol, th.amountCol{
    width: 15%;
}

td.dateCol, th.dateCol{
    width: 15%;
}

td.categoryCol, th.categoryCol{
    width: 15%;
}

td.descriptionCol, th.descriptionCol{
    width: 40%;
}
td.emptyCol, th.emptyCol{
    width: 7.5%;
}
