<div class="fixed-header">
    <table id="transaktionen-table" class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Betrag</th>
                <th>Datum</th>
                <th>Kategorie</th>
                <th>Beschreibung</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transaktion of transaktionen" [class.success]="transaktion.IsEinnahme" [class.danger]="!transaktion.IsEinnahme">
                <th scope="row">{{transaktion.Betrag}} €</th>
                <td>{{transaktion.Datum | date}}</td>
                <td>{{transaktion.KategorieId | getName: kategorien}}</td>
                <td>{{transaktion.Beschreibung}}</td>
                <td>
                    <a href="#" (click)="editTransaktion(transaktion)" data-target="#neueTransaktionModal" data-toggle="modal">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </td>
                <td>
                    <a href="#" (click)="deleteTransaktion(transaktion)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>