div{
    display: block;
    height: 50%;
    width:75%;
    margin: auto;
    
}

thead{
    border-top: black solid;
    border-right: black solid;
    border-left: black solid;
}
.fixed-header > table{
    width:100%;
    overflow-y: auto;
}

.fixed-header > thead,
.fixed-header > tbody,
.fixed-header > tr,
.fixed-header > td,
.fixed-header > th{
    display: block;
}

.fixed-header > tr::after{
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

/*.fixed-header > thead > th{
    height: 100px;
   
}*/

.fixed-header > tbody{
    height: 100px;
    overflow-y: auto;
}

.fixed-header > tbody > td,
.fixed-header > thead > th{
    width: 16.67%;
    float: left; 
}

/*.fixed-header thead {
  width: 97%;
}
.fixed-header tbody {
  height: 500px;
  overflow-y: auto;
  width: 100%;
}
.fixed-header thead, .fixed-header tbody, .fixed-header tr, .fixed-header td, .fixed-header th {
  display: block;
}
.fixed-header tbody td, .fixed-header thead > tr> th {
  float: left;
  border-bottom-width: 0;
}*/