<div class="fixed-header">
    <table id="transaktionen-table" class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Betrag</th>
                <th>Start Datum</th>
                <th>End Datum</th>
                <th>Kategorie</th>
                <th>Beschreibung</th>
                <th></th>
                <th>
                    <span popover="Hellsadfsdfsadfffffff asdf lj asdflk jd er" popoverPlacement="left" [popoverOnHover]="true" [popoverCloseOnMouseOutside]="true"
                        class="question-sign glyphicon glyphicon-question-sign">
                        </span>

                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transaktion of transaktionen" [class.success]="transaktion.IsEinnahme" [class.danger]="!transaktion.IsEinnahme">
                <th scope="row">{{transaktion.Betrag}} €</th>
                <td>{{transaktion.StartDatum | date}}</td>
                <td>{{transaktion.EndDatum | checkEndDate}}</td>
                <td>{{transaktion.KategorieId | getName: kategorien}}</td>
                <td>{{transaktion.Beschreibung}}</td>
                <td class="emptyCol">
                    <a href="#" (click)="editTransaktion(transaktion)" data-target="#neueTransaktionModal" data-toggle="modal">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </td>
                <td class="emptyCol">
                    <a href="#" (click)="deleteTransaktion(transaktion)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="plus">
        <span class="glyphicon glyphicon-plus" style="right: 0"></span>
    </div>
</div>