<div class="fixed-header">
    <table id="transaktionen-table" class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Betrag</th>
                <th>Datum</th>
                <th>End Datum</th>
                <th>Kategorie</th>
                <th>Beschreibung</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transaktion of transaktionen" [class.success]="transaktion.isEinnahme" [class.danger]="!transaktion.isEinnahme">
                <th scope="row">{{transaktion.betrag}} €</th>
                <td>{{("0" + transaktion.startDay).slice(-2)}}/{{("0" + transaktion.startMonth).slice(-2)}}/{{transaktion.startYear}}</td>
                <td>{{("0" + transaktion.endDay).slice(-2)}}/{{("0" + transaktion.endMonth).slice(-2)}}/{{transaktion.endYear}}</td>
                <td>{{transaktion.kategorie}}</td>
                <td>{{transaktion.beschreibung}}</td>
                <td>
                    <a href="#" (click)="editTransaktion(transaktion)" data-target="#neueTransaktionModal" data-toggle="modal">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </td>
                <td>
                    <a href="#">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>